<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.ancit.json.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.ancit.json.application.Perspective"
            id="org.ancit.json.application.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.ancit.json.application.application"
            name="Json Generator">
         <property
               name="appName"
               value="Json Generator">
         </property>
      </product>
   </extension>

</plugin>
