<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Json -->
      <package
            uri="http://Json/1.0"
            class="Json.JsonPackage"
            genModel="model/Json.genmodel"/>
   </extension>

</plugin>
